table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /*width: 100%;*/
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.parPrice{
             text-align: center;
             color: #000;
             font-weight: bold;
             font-size: 20px;
             margin-bottom: 20px; 
}
          /*-- Animation Button Ceckeout --*/
.new_button{
             border-radius:20px 20px 20px 20px; 
             font-size:  16px; 
             font-weight: bold;
             color: black;
             background-color:#e9d362;
             padding: 10px 20px;
             text-align: center;
             text-decoration: underline;
             display: inline-block;
             margin: 4px 2px;
             cursor: pointer ;           
             transition-property: all;
             transition-duration: 0.3s;
             transition-timing-function: ease;
             transition-delay: 0s;

}